## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Upernavik,GL,72.7868,-56.1549,16.29,98,100,4.12,overcast clouds
1,1,Yenagoa,NG,4.9247,6.2642,77.77,90,100,4.85,overcast clouds
2,2,Cape Town,ZA,-33.9258,18.4232,58.12,87,43,3.00,light rain
3,3,Busselton,AU,-33.6500,115.3333,66.31,53,99,7.76,overcast clouds
4,4,Kalat,PK,29.0225,66.5916,58.19,23,100,3.78,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the mininum tempurature you would like to vacation at? "))
max_temp = float(input("What is the maximum tempurature you would like to vacation at? "))

What is the mininum tempurature you would like to vacation at? 75
What is the maximum tempurature you would like to vacation at? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df  = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Yenagoa,NG,4.9247,6.2642,77.77,90,100,4.85,overcast clouds
8,8,Kapaa,US,22.0752,-159.3190,78.78,76,100,5.01,overcast clouds
17,17,Tautira,PF,-17.7333,-149.1500,82.29,80,29,22.26,light rain
20,20,Avarua,CK,-21.2078,-159.7750,84.25,74,100,10.36,overcast clouds
23,23,Rikitea,PF,-23.1203,-134.9692,79.00,67,78,17.25,broken clouds
...,...,...,...,...,...,...,...,...,...,...
671,671,Gambela,ET,8.2500,34.5833,78.37,56,51,5.39,broken clouds
672,672,Arlit,NE,18.7369,7.3853,85.75,7,99,10.04,overcast clouds
678,678,Port Augusta,AU,-32.5000,137.7667,78.53,33,6,9.69,clear sky
680,680,Biak,ID,-0.9131,122.8766,81.70,72,97,6.08,overcast clouds
683,683,Manta,EC,-0.9500,-80.7333,76.78,83,40,11.50,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Yenagoa,NG,4.9247,6.2642,77.77,90,100,4.85,overcast clouds
8,8,Kapaa,US,22.0752,-159.3190,78.78,76,100,5.01,overcast clouds
17,17,Tautira,PF,-17.7333,-149.1500,82.29,80,29,22.26,light rain
20,20,Avarua,CK,-21.2078,-159.7750,84.25,74,100,10.36,overcast clouds
23,23,Rikitea,PF,-23.1203,-134.9692,79.00,67,78,17.25,broken clouds
...,...,...,...,...,...,...,...,...,...,...
671,671,Gambela,ET,8.2500,34.5833,78.37,56,51,5.39,broken clouds
672,672,Arlit,NE,18.7369,7.3853,85.75,7,99,10.04,overcast clouds
678,678,Port Augusta,AU,-32.5000,137.7667,78.53,33,6,9.69,clear sky
680,680,Biak,ID,-0.9131,122.8766,81.70,72,97,6.08,overcast clouds
683,683,Manta,EC,-0.9500,-80.7333,76.78,83,40,11.50,scattered clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Yenagoa,NG,77.77,overcast clouds,4.9247,6.2642,
8,Kapaa,US,78.78,overcast clouds,22.0752,-159.3190,
17,Tautira,PF,82.29,light rain,-17.7333,-149.1500,
20,Avarua,CK,84.25,overcast clouds,-21.2078,-159.7750,
23,Rikitea,PF,79.00,broken clouds,-23.1203,-134.9692,
28,Cockburn Town,TC,78.39,clear sky,21.4612,-71.1419,
31,Bubaque,GW,76.80,clear sky,11.2833,-15.8333,
34,Arraial Do Cabo,BR,76.48,clear sky,-22.9661,-42.0278,
37,Tabou,CI,79.88,broken clouds,4.4230,-7.3528,
38,Weston,US,80.01,heavy intensity rain,26.1004,-80.3998,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Yenagoa,NG,77.77,overcast clouds,4.9247,6.2642,Aridolf Resort Wellness and Spa
8,Kapaa,US,78.78,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
17,Tautira,PF,82.29,light rain,-17.7333,-149.1500,Pension Oaoa
20,Avarua,CK,84.25,overcast clouds,-21.2078,-159.7750,Paradise Inn
23,Rikitea,PF,79.00,broken clouds,-23.1203,-134.9692,People ThankYou

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))